<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frank.ffmpeg">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 音频处理 -->
        <activity android:name=".activity.AudioHandleActivity" />
        <!-- 音视频处理 -->
        <activity android:name=".activity.MediaHandleActivity" />
        <!-- 视频处理 -->
        <activity android:name=".activity.VideoHandleActivity" />
        <!-- 视频解码播放 -->
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 音视频解码播放 -->
        <activity
            android:name=".activity.MediaPlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 本地推流直播 -->
        <activity
            android:name=".activity.PushActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 实时推流直播 -->
        <activity
            android:name=".activity.LiveActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!-- 滤镜特效 -->
        <activity
            android:name=".activity.FilterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!--视频倒播-->
        <activity android:name=".activity.VideoReverseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>